https://nightly.odoo.com/10.0/nightly/src/odoo_10.0.latest.zip

# OCA/server-tools
# TODO: still not fixed after PR got merged, check
-e git+https://github.com/OCA/server-tools.git@10.0#egg=odoo10_addon_base_cron_exclusion&subdirectory=setup/base_cron_exclusion

# OCA/manufacture-reporting
odoo10-addon-mrp_bom_matrix_report

# OCA/manufacture
odoo10-addon-mrp_auto_assign

# Eficent/ddmrp
-e git+https://github.com/Eficent/ddmrp.git@10.0#egg=odoo10_addon_ddmrp&subdirectory=setup/ddmrp
-e git+https://github.com/Eficent/ddmrp.git@10.0#egg=odoo10_addon_ddmrp_history&subdirectory=setup/ddmrp_history
-e git+https://github.com/Eficent/ddmrp.git@10.0#egg=odoo10_addon_ddmrp_adjustment&subdirectory=setup/ddmrp_adjustment
-e git+https://github.com/Eficent/ddmrp.git@10.0#egg=odoo10_addon_ddmrp_product_replace&subdirectory=setup/ddmrp_product_replace
-e git+https://github.com/Eficent/ddmrp.git@10.0#egg=odoo10_addon_ddmrp_exclude_moves_adu_calc&subdirectory=setup/ddmrp_exclude_moves_adu_calc
