https://nightly.odoo.com/10.0/nightly/src/odoo_10.0.latest.zip

# OCA/manufacture-reporting
-e git+https://github.com/Eficent/manufacture-reporting.git@10.0-mig-report_mrp_bom_matrix#egg=odoo10_addon_mrp_bom_matrix_report&subdirectory=setup/mrp_bom_matrix_report
# -e git+https://github.com/Eficent/manufacture-reporting.git@10.0-mig-mrp_bom_current_stock#egg=odoo10_addon_mrp_bom_current_stock&subdirectory=setup/mrp_bom_current_stock

# Eficent/ddmrp
-e git+https://github.com/Eficent/ddmrp.git@10.0#egg=odoo10_addon_ddmrp&subdirectory=setup/ddmrp
-e git+https://github.com/Eficent/ddmrp.git@10.0#egg=odoo10_addon_ddmrp_history&subdirectory=setup/ddmrp_history
-e git+https://github.com/Eficent/ddmrp.git@10.0#egg=odoo10_addon_ddmrp_adjustment&subdirectory=setup/ddmrp_adjustment
-e git+https://github.com/Eficent/ddmrp.git@10.0#egg=odoo10_addon_ddmrp_product_replace&subdirectory=setup/ddmrp_product_replace
-e git+https://github.com/Eficent/ddmrp.git@10.0#egg=odoo10_addon_ddmrp_exclude_moves_adu_calc&subdirectory=setup/ddmrp_exclude_moves_adu_calc
